<div class='content'> 
            <div class='content-title'><h1>Blog Posts</h1></div>
            <br/>
            <div class='post'>
                <div class='post-title'><h3>The week before my Maymester in Copenhagen</h3><p>May 14, 2019</p></div>
                <br/>
                <p>I am currently sitting in the Heathrow airport in London writing this blog post. 
                    These readings have taken a suprisingly long time to complete as 
                    I have been working on them throughout my travel journey. Unfortunately between finals 
                    and 15 of my friends graduating, I have not had a moment to work on this until now so I'm scrambling a bit.
                    I am working as I wait for my connecting flight to Amsterdam with my partner, Thomas. 
                    He just graduated from UNC and we are traveling the week before my Maymester to celebrate together 
                    before he moves to Boston. Together we are going to Amsterdam, Brussels, Bruges, and Copenhagen. 
                    <strong>We plan to celebrate my 21st birthday in Amsterdam and Brussels.</strong>
                    We are meeting my best friend, Eva, in Copenhagen. Eva has been studying abroad in Spain all semester
                    so I am so excited to reunite and spend some time with her. </p>
                <br/>
                <p>Eva, Thomas and I will be together in Copenhagen for three days before my Maymester program starts.
                    Then Eva and Thomas will travel to Budapest together before Eva returns back to NC. After Budapest, 
                    Thomas is planning to backpack alone to many other cities starting with Vienna. As of now he is planning to then 
                    go to Munich, Florence, Rome, Como, Paris, and London. It will be quite the adventure for him! At the end of my 
                    program in Copenhagen, I plan to visit my friend and soon to be roommate, Lizzie, in London for a day before 
                    I fly back home to start my summer internship in NC.</p>
                <br/>
                <p>So this is my introductory blog post about my general plans for before and after this Maymester begins. 
                    I am beyond excited for everything that this program will entail and will 
                    definitely be updating this page with more blogs to include much more detail later. 
                    Lastly, here is a list of all the cities I hope to visit in the next month:  </p>

                <ul>
                    <li>Amsterdam</li>
                    <li>Brussels</li>
                    <li>Bruges</li>
                    <li>Copenhagen</li>
                    <li>London</li>
                </ul>
            </div> <!--closes post 1-->
            <br/>
        
            <div class="post">
                <div class='post-title'><h3>Arrival Day</h3><p>May 21, 2019</p></div>
                <br/>
                <p>I have spent 3 days and 3 nights in Copenhagen and I am exhausted so far. This place is a Copenheaven for sure.
                    I got really lucky with 2 days of nearly 70 degrees and sunny perfect weather. I was here with my 2 bffs and they left for
                    Budapest today. How am I feeling? Some honest thoughts:
                    <ol>
                        <li>Burnt out: I am starting to burn out a lil on school bc summer school every session since starting college means very little breaks. 
                        Thus my strategy for this website is do a moderate amount of effort to learn what I need to while here and then to fix this site up nice and pretty
                        over the summer during down time at work. </li>
                        <li>Exhausted: I am an extroverted introvert meaning I NEED alone time in order to be my true self around people. I want to charge up alone and then be around people until my 
                        social battery is low again. After not having ANY alone time for the past 10 days, my social battery is at a 1%. Now that my friends are gone I am going to 
                        take a moment to get back to myself to fully enjoy my time here. Recharge persay.</li>
                        <li>Excited: everything is perfect about this place. It stays light out so late(makes me feel safe), our class and dorm location is in a PERFECT spot.I enjoy the different 
                        personalities of everyone in this group a lot, our dorms are huge, espresso is everywhere, public restrooms are so nice </li>
                        <li> Nostalgic/emotional/overwhelmed: I'll get real for a moment and talk about today. I cried in the airport saying goodbye to my partner (Thomas). To be fair I am exhausted and cry easily but also
                        I am overwhelmed by our most recent transition. Basically I have spent many parts of almost every day with Thomas for the past year. It's low key caused an issue time management wise but 
                        what are ya gonna do when you're in love ya know? Anyway we went from that to spending 24/7 together (just the 2 of us) for a whole week traveling. Then today, we said goodbye for a hot minute because after this program I will only get to see 
                        him for a dinner and then he moves to Boston.</li>
                    </ol>
                </p>
                <p>Anyway, I will move past this state of exhaustion and 
                    emotionalness after some good sleep so peace out nighty night.</p>
            </div> <!-- closes post 2-->
</div> <!--closes content-->