body {
    color: #414141; /* Dark gray */
    background-color: #EEEEEE; /* Light gray */
    font-size: 18px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
p {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
        
}