body {
    color: #414141; /* Dark gray */
    background-color: #EEEEEE; /* Light gray */
    font-size: 18px;
    box-sizing: border-box; 
}
h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 2em;
    border: 10px solid #5D6063;
    box-sizing: border-box; 
    /* margin: 20px auto;
    width: 200px; */
}

.big-title {
    font-size: 50px;
}

.page strong {
    color: rgb(207, 30, 39)
}

.page {
    width: 600px;
    margin: 0 auto;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.6em;
    border: 5px solid #5D6063;

}
p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;    
    margin-bottom: 30px; 
    box-sizing: border-box; 
}
ol {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 120px;
    padding-right: 100px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}
 ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 120px;
    padding-right: 100px;
    margin-bottom: 10px;
    box-sizing: border-box; 
 }

 img {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box; 
 }
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover {
    color: green;
    text-decoration: underline;
}